<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Home</h1>

    [ <a href="index.html">Home</a> | [ <a href="./index.hbs">Games</a> | <a href="genres.html">Genres</a> | <a href="companies.html">Companies</a>
    | <a href="customers.html">Customers</a> | <a href="transactions.html">Transactions</a> | <a href="transactiondetails.html">Transaction Details</a>
    | <a href="companiesandgames.html">Companies and Games</a>]
{{!-- Create a table --}}
<table id="game-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>

        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value ={{this.id}}>
            <td>{{this.game_id}}</td>
            <td>{{this.game_name}}</td>
            <td>{{this.release_year}}</td>
            <td>{{this.price}}</td>
            <td>{{this.inventory}}</td>
            <td>{{this.genre_id}}</td>
            <td><button onclick="deleteGame({{this.game_id}})">DELETE</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="../js/delete_game.js"></script>


<h2>Add A Game</h2>
<p>To add a new game, please enter the information below and click `Submit`!</p>
<form id="add-game-form" method="POST" action="/add-game-form">
    <label for="input-gname">Game Name: </label>
    <input type="text" name="input-gname" id="input-gname">

    <label for="input-year">Release Year: </label>
    <input type="number" name="input-year" id="input-year">

    <label for="input-price">Price: </label>
    <input type="number" name="input-price" id="input-price">

    <label for="input-inventory">Inventory: </label>
    <input type="number" name="input-inventory" id="input-inventory">

    <select name="input-genre" id="input-genre-ajax">
        <option value="">Genre</option>
        {{#each planets}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

<h2>Search Using an HTML Form</h2>
<p>Search by last name using the field below. Partial last names are OK too!</p>
<form id="search-person-html" method='GET' action='/'>
    <label for="input-lname">Search by Last Name: </label>
    <input type="text" name="lname" id="input-lname-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>

<h2>Update Games Genre</h2>
<p>To update a specific Games Genre select their name from the drop-down menu on the left and their desired Genre from the drop down menu on the right</p>
<form id="update-game-form-ajax">

    <label for="input-fullname">Game: </label>
    <select name="input-name" id="mySelect">
        <option value="test">Select a Game</option>
        {{#each data}}
        <option value="{{this.id}}">{{this.game_name}}</option>
        {{/each}}
    </select>

    <label for="input-ggenre">Genre:</label>
    <select name="input-ggenre" id="input-genre-update">
        <option>Select a Genre</option>
        {{#each planets}}
        <option value="{{this.id}}">{{this.game_name}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>

<script src="../js/update_game.js"></script>
