<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.game_id}}</td>
            <td>{{this.game_name}}</td>
            <td>{{this.release_year}}</td>
            <td>{{this.price}}</td>
            <td>{{this.inventory}}</td>
            <td>{{this.genre_id}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


<h2>Add A Game</h2>
<p>To add a new game, please enter the information below and click `Submit`!</p>
<form id="add-game-form" method="POST" action="/add-game-form">
    <label for="input-gname">Game Name: </label>
    <input type="text" name="input-gname" id="input-gname">

    <label for="input-year">Release Year: </label>
    <input type="number" name="input-year" id="input-year">

    <label for="input-price">Price: </label>
    <input type="number" name="input-price" id="input-price">

    <label for="input-inventory">Inventory: </label>
    <input type="number" name="input-inventory" id="input-inventory">

    <label for="input-genre">Genre ID: </label>
    <input type="number" name="input-genre" id="input-genre">

    <input type="submit">
</form>
