
<html>
<head>
	<title>Games</title>
	<link rel="stylesheet" href="css/app.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>

<h1>Games</h1>

<div id="nav-container" href="">


     <a href="/home">Home</a> |  <a href="/">Games</a> | <a href="/genres">Genres</a> | <a href="/companies">Companies</a>
	| <a href="/customers">Customers</a> | <a href="/transactions">Transactions</a> | <a href="/transaction_details">Transaction Details</a>
	| <a href="/companies_and_games">Companies and Games</a>]

</div>



{{!-- Create a table --}}
<table id="game-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>

        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value ={{this.id}}>
            <td>{{this.game_id}}</td>
            <td>{{this.game_name}}</td>
            <td>{{this.release_year}}</td>
            <td>${{this.price}}</td>
            <td>{{this.inventory}}</td>
            <td>{{this.genre_id}}</td>
            <td><button onclick="deleteGame({{this.game_id}})">DELETE</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="../public/js/delete_game.js"></script>

<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<!-- /views/index.hbs -->
<h2>Add Game</h2>
<p>To add a new game, please enter their information below nad click `Submit`!</p>
<form id="add-game-form" method="POST" action="/add-game-form">
    <label for="input-game_name">Game Name: </label>
    <input type="text" name="input-game_name" id="input-game_name">
    
    <label for="input-release_year">Release Year: </label>
    <input type="number" min="1900" name="input-release_year" id="input-release_year">

    <label for="input-price">Price: </label>
    <input type="number" name="input-price" id="input-price">

    <label for="input-inventory">Inventory: </label>
    <input type="number" name="input-inventory" id="input-inventory">

    <select name="input-genre" id="input-genre">
        <option value="">Genre:</option>
        {{#each genres}}
        <option value="{{this.genre_id}}">{{this.genre_name}}</option>
        {{/each}}
    </select>


    <input type="submit">
</form>

<h2>Search</h2>
<form id="search-genre-html" method='GET' action='/'>
    <label for="input-genre">Search by Genre: </label>
    <select name="genre" id="input-genre">
        <option value="">Genre:</option>
        {{#each genres}}
        <option value="{{this.genre_id}}">{{this.genre_name}}</option>
        {{/each}}
    </select>
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>


<h2>Updating A Game's Genre Form</h2>
<p>To update a specific Games Genre select their name from the drop-down menu</p>
<form id="update-game-form-ajax">

    <label for="input-game_name">Game name: </label>
    <select name="input-game_name" id="mySelect">
        <option value="test">Select a Game</option>
        {{#each data}}
        <option value="{{this.game_id}}">{{this.game_name}}</option>
        {{/each}}
    </select>

    <label for="input-genre">Genre: </label>
    <select name="input-genre" id="input-genre-update">
        <option>Select a Genre</option>
        {{#each genres}}
        <option value="{{this.genre_id}}">{{this.genre_name}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>

<script src="../public/js/update_game.js"></script>
