<html>
<head>
	<title>Transaction Details</title>
	<link rel="stylesheet" href="css/app.css">
</head>
<body>
	<h1>Transaction Details</h1>

 <div id="nav-container" href="">
    
    
      <a href="index.html">Home</a> |  <a href="/">Games</a> | <a href="/genres">Genres</a> | <a href="/companies">Companies</a>
	| <a href="/customers">Customers</a> | <a href="/transactions">Transactions</a> | <a href="/transaction_details">Transaction Details</a>
	| <a href="/companies_and_games">Companies and Games</a>]


</div>

<table id="details-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value ={{this.id}}>
            <td>{{this.transaction_id}}</td>
            <td>{{this.game_id}}</td>  
            <td>{{this.orderQTY}}</td>
            <td>{{this.price}}</td>
            <td>{{this.linetotal}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>