<html>
<head>
	<title>Transactions</title>
	<link rel="stylesheet" href="css/app.css">
</head>
<body>
	<h1>Transactions</h1>

 <div id="nav-container" href="">

    
    
     <a href="/home">Home</a> |  <a href="/">Games</a> | <a href="/genres">Genres</a> | <a href="/companies">Companies</a>
	| <a href="/customers">Customers</a> | <a href="/transactions">Transactions</a> | <a href="/transaction_details">Transaction Details</a>
	| <a href="/companies_and_games">Companies and Games</a>]


</div>

<table id="transactions-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value ={{this.id}}>
            <td>{{this.transaction_id}}</td>
            <td>{{this.customer_id}}</td>  
            <td>{{this.transaction_date}}</td> 
            <td>{{this.payment_method}}</td> 
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- /views/index.hbs -->
<h2>Add a Transaction</h2>
<p>To add a new transaction, please enter their information below and click `Submit`!</p>
<form id="add-transaction-form" method="POST" action="/add-transaction-form">

    <select name="input-customer" id="input-customer">
        <option value="">Select Customer:</option>
        {{#each customers}}
        <option value="{{this.customer_id}}">{{this.contact_name}}</option>
        {{/each}}
    </select>
    
    <label for="input-date">Date: </label>
    <input type="date" name="input-date" id="input-date">

    <label for="input-payment">Payment Method: </label>
    <input type="text" name="input-payment" id="input-payment">

    <input type="submit">
</form>